.flex-display {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
/* 元素的垂直排序*/
.flex-display-column {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-direction:column;
}

/*横向居中排列布局*/
.flex-center-pack {
    justify-content: center;
    -webkit-justify-content: center;
    box-pack: center;
    -webkit-box-pack: center;

}

.flex-row-start {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row;
  flex-flow:row;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}

.flex-row-end {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row;
  flex-flow:row;
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}

.flex-row-between{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* 横向居右排列布局*/
.flex-right-pack {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    box-pack: end;
    -webkit-box-pack: end;
}

/*竖向居中排列布局*/
.flex-center-align {
    align-items: center;
    -webkit-align-items: center;
    box-align: center;
    -webkit-box-align: center;
}

/*竖向居右排列布局*/
.flex-right-align {
    align-items: flex-end;
    -webkit-align-items: flex-end;
    box-align: end;
    -webkit-box-align: end;
}
/*伸缩盒子布局兼容*/
.flex-num-one {
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    flex:1;
    -webkit-flex:1;
}

.flex-num-two {
    box-flex: 2;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    flex: 2;
    -webkit-flex: 2;
}

.flex-warp {
  -webkit-flex-wrap:wrap;
  -webkit-box-lines:multiple;
  -moz-flex-wrap:wrap;
  flex-wrap:wrap;
}

.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px
}
.text-red {
  color: #ff0000;
}
.text-overflow-1 {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.text-overflow-2 {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.text-overflow-5 {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
}
.line {
    width: 100%;
    height: 10px;
    background: rgba(245,245,245,1);
}
.hidden {
  display: none;
}



